html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
  background: gainsboro;
  overflow: hidden;
}

.svg-loader {
  pointer-events: none;
  height: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
}

.show-svg {
  opacity: 1;
}

#threeJS {
  width: 100%;
  height: 100%;
}
.btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #161616;
  color: white;
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 40px;
  font-size: 10px;
  line-height: 40px;
  border-radius: 50%;
}
.active{
  background-color: brown;
}